<title>AddAService</title>


<body style="background-color:lavender">
    <div class="text-center">
        <h1 class="display-4"><strong> House Good Services</strong></h1>

    </div>
    <table class="table" style="text-align:center" border="4">

        <tr>
            <td>Services</td>
            <td>AddService</td>
            <td> Search </td>
            <td> Location</td>
            <td> Edgar.rodriguez@fakeemail.com</td>
            <td> Logout</td>
            <td> ChangePassword</td>

        </tr>

    </table>
    <br />
    </body>


