@model Review


<form method="post">
    <div>
        <input asp-for="Id" />
        Id
    </div>

    <div>

        <input asp-for="Userid" />
        UserId
    </div>

    <div>

        <input asp-for="Rating" />
        Rating
    </div>

    <div>

        <input asp-for="Comments" />
        Comments
    </div>

    <input type="submit" value="Add" />

</form>

